<div class="show">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong> <%= @item.name %> </strong>
	  işleminiz başarıyla tamamlandı. 
	  
	</p>

	<p>
	   Bu işlemi ATM üzerinden 
	  <strong> <%= @item.freq %> </strong> defa gerçekleştirdiniz.
	</p>

	<div class="left">
		<%= link_to 'Hızlı Menü', items_path %>
	</div>	
	<div class="right">
		<%= link_to 'Kart iade', "http://www.oyleyani.com" %>	
	</div>
	
</div>